<%= form_with(model: calificacion) do |form| %>
  <% if calificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calificacion.errors.count, "error") %> prohibited this calificacion from being saved:</h2>

      <ul>
        <% calificacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
